

serviceNow.url: dev78306.service-now.com
serviceNow.port:
serviceNow.username: admin
serviceNow.password: Password26


curiousMonitor:
  url: localhost:8443


spring:
  application:
    name: incident-management
  cloud:
    stream:
      kafka:
        binder:
          brokers: ${kafka.url}
      bindings:
        errors-in:
          destination: ${topic.errorsIn}
          contentType: application/json
        errors-out:
          destination: ${topic.errorsIn}
          contentType: application/json


server.port: 8086